---
---

@import "{{ site.theme }}";

main {
    font-family: 'Times New Roman', Times, serif;
    h1 {
        color: black;
        margin: 21.44px, 0px;
    }
    table {
        border-collapse: separate;
        text-indent: initial;
        white-space: normal;
        line-height: normal;
        font-weight: normal;
        font-size: medium;
        font-style: normal;
        color: -internal-quirk-inherit;
        text-align: start;
        border-spacing: 2px;
        -webkit-border-horizontal-spacing: 2px;
        -webkit-border-vertical-spacing: 2px;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
    }
    td {
        display: table-cell;
        vertical-align: inherit;
    }
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-line: underline;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }
}